pipeline/pipeline11.json
{
	"name": "pipeline11",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "AzureBlob7",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"typeProperties": {
								"expression": {
									"value": "@equals(item().type, 'File')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy Data1",
										"type": "Copy",
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"source": {
												"type": "BlobSource",
												"recursive": true
											},
											"sink": {
												"type": "BlobSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 0
										},
										"inputs": [
											{
												"referenceName": "AzureBlob7",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "AzureBlob8",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}