pipeline/pipeline10.json
{
	"name": "pipeline10",
	"properties": {
		"activities": [
			{
				"name": "SampleLookUp",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SampleLookUp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('SampleLookUp').output.value.TableName",
						"type": "Expression"
					},
					"batchCount": 2,
					"activities": [
						{
							"name": "LookUpPipelineDemo",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": true
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "AzureBlob9",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureBlob5",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}