pipeline/pipeline23.json
{
	"name": "pipeline23",
	"properties": {
		"activities": [
			{
				"name": "Copy Data1",
				"type": "Copy",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "AzureBlob21",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureBlob22",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Email Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy Data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://prod-37.eastus.logic.azure.com:443/workflows/06208cd898c843ce97efc7e442dbc4cc/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=PTColcfEzpmRZlM7zoAMynYfqGzgghggseKiPs7A2qM",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"ErrorMessage": "@{activity('Copy Data1').error.message}",
						"EmailTo": "@pipeline().parameters.EmailTo"
					}
				}
			}
		],
		"parameters": {
			"EmailTo": {
				"type": "String",
				"defaultValue": "divyashree.rao@antuit.com"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}